@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

@import url('https://fonts.googleapis.com/css2?family=Metal&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap');

:root{
    --white-color: #ffffff;
    --primary-color: #bd8677;
    --secondary-color: #146C7D;
    --section-bg-color: #F0DECDF5;
    --custom-btn-bg-color: var(--primary-color);
    --dark-color: #000000;
    --p-color: #717275;
    --border-color: #e9eaeb;

    --body-font-family: 'Source Sans Pro' , sans-esrif ;
    --title-font-family: 'Metal';

    --h1-font-size: 72px ;
    --h2-font-size: 55px ;
    --h3-font-size: 36px ;
    --h4-font-size: 32px ;
    --h5-font-size: 24px ;
    --h6-font-size: 22px ;
    --p-font-size: 20px ;
    --menu-font-size: 14px ;
    --copyright-font-size: 16px ;
    
    --border-radius-large: 100px ;
    --border-radius-medium: 20px ;
    --border-radius-small: 10px ;

    --font-weight-light: 300 ;
    --font-weight-normal: 400 ;
    --font-weight-medium: 500 ;
    --font-weight-bold: 700 ;
}

body{
    background: var(--section-bg-color);
    font-family: var(--body-font-family);
    max-width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
}

html, body{
    scroll-behavior: smooth;
}

h2,h3,h4,h5,h6{
    color: var(--dark-color);
}

h1,h2,h3,h4,h5,h6{
    font-family: var(--title-font-family);
    font-weight: var(--font-weight-bold);
}
h1{
    font-size: 72px;
}
h2{
    font-size: 48px;
    color: var(--secondary-color);
}
h3{
    font-size: 36px;
}
h4{
    font-size: 32px;
}
h5{
    font-size: 20px;
    line-height: normal;
}
h6{
    font-size: 16px;
}
p{
    color: var(--p-color);
    font-size: 20px;
    font-weight: var(--font-weight-light);
    font-family: 'Metal';
}

.title{
    font-family: 'Monsieur La Doulaise'; 
    font-size: 60px; 
    font-weight: 700; 
    color: #bd8677
}

.section-bg{
    background: var(--section-bg-color);
}

.section-padding {
    padding-top: 100px;
    padding-bottom: 100px;
    scroll-margin-top: 2rem
}

.section-title{
    font-family: 'Fleur De Leah';
}

.section-title-wrap{
    text-align: center;
}

.section-title-line{
    background: var(--border-color);
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 2px;
    margin: 0 auto;
}


.section-title-icon{
    font-size: var(--h5-font-size);
    margin-left: 10px;
    margin-right: 10px;
    line-height: 20px;
    color: var(--primary-color);
}

.image-hover-thumb{
    border-radius: var(--border-radius-medium);
    position: relative;
    overflow: hidden;
}

.image-hover-thumb:hover .img-fluid{
    transform: scale(1.05);
}

.image-hover-thumb .img-fluid {
    transition: all 0.5s;
}

.custom-btn{
    background: var(--custom-btn-bg-color);
    border: 0;
    color: var(--white-color);
    font-family: var(--title-font-family);
    font-size: var(--p-font-size);
    font-weight: var(--font-weight-bold);
}

/* Buttons on turn transparent when hovering */
.btn:hover {
    background: var(--custom-btn-bg-color);
    }

.custom-logo{
    font-family: 'Monsieur La Doulaise', cursive;
    font-size: 55px;
    color: #CE9C9D;
}

.edit-textbox{
    padding-top: 5px; 
    padding-bottom: 5px; 
    margin: 2px
}

/* Navbar */

.navbar{
    position: absolute;
    z-index: 9;
    right: 0;
    left: 0;
}

.is-sticky .navbar{
    background: var(--section-bg-color);
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding-right: 0;
    padding-left: 0;
    margin-right: 20px;
    margin-left: 20px;
}

.navbar-nav .nav-link{
    display: inline-block;
    color: var(--p-color);
    font-size: var(--menu-font-size);
    text-transform: uppercase;
    padding-top: 15px;
    padding-bottom: 15px;
}

.static-text-smartphone{
    display: none;
}

@media (max-width: 768px) {
    .navbar {
        display:none;
    }

    #section_1 {
        /* margin-top: -6rem; */
        margin-top: 0rem; /* If navbar is hidden, moves section 1 up */
    }

    .static-text-smartphone {
        display: block;
        text-align: center;
        padding-top: 25px;
    }
}

/* Home */

.home-container{
    background-image: url('images/Pic-162.jpg');
    background-size: cover;
    border-radius: var(--border-radius-small);
    position: relative;
    background-position: center center;
    overflow: hidden;
    height: calc(90vh - 90px);
    background-position-y: 25%;
}

.btn-opacity{
    opacity: 1.0;
    padding: 1.5vw 3vw;
    font-size: 1.25rem; /* Default font size */
}

.btn-opacity:hover{
    opacity: 1.0;
}

@media (max-width: 768px) {
    .home-container {
        height: calc(50vh - 90px);
        background-size: 150%;
        background-position-x: 50%;
    }

    .custom-btn {
        padding: 3vw 6vw;
        font-size: 0.9rem;
    }

    .col-lg-6 h3 {
        font-size: 1.5rem;
    }
}

/* About */

/* The Wedding */

.google-map{
    border-radius: var(--border-radius-medium);
    display: block;
    line-height: normal;
}

/* Gallery */

.gallery-thumb,
.people-thumb{
    margin-bottom: 20px;
}

.gallery-thumb-small{
    height: 100%;
}

.gallery-thumb-small .gallery-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* RSVP */

.rsvp-section{
    background-image: url('images/Pic-140.jpg');
    background-position: center;
    background-size: cover;
}

.rsvp-form-wrap{
    background: rgba(255, 255, 255, 0.9);
    border-radius: var(--border-radius-medium);
    padding: 50px;
}

.custom-form .form-control{
    margin-bottom: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.event-wrap{
    border-right: 1px solid;
    display:table-cell; 
    vertical-align: middle; 
    text-align: center; 
    width: 50%; 
    padding-right: 20px;
}

.rsvp-user-wrap{
    display:table-cell; 
    vertical-align: middle; 
    width: 50%; 
    padding-left: 20px;
}

/* Landing Page */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.landing-page {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center {
    position: relative;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

.password-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 80%;
    max-width: 600px;
}

input {
    padding: 10px;
    margin-bottom: 10px;
    width: 60%;
    box-sizing: border-box;
}

button {
    padding: 10px;
    background-color: var(--custom-btn-bg-color);
    color: var(--white-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 25%;
    box-sizing: border-box;
}

button:hover {
    background-color: var(--custom-btn-bg-color);
    color: var(--dark-color)
}

.error-text {
    color: red;
    margin-top: 10px;
}

/* Smartphone view */
@media (max-width: 768px) {
    #section_2 {
        /* padding-top: 40px; */
        padding-top: 14rem;
        margin-bottom: -50px;
    }

    .smartphone-margins {
        margin-top: -4rem;
    }

    .smartphone-margins-guide {
        margin-top: 1rem;
    }

    .smartphone-transportation {
        margin-top: 8rem;
        margin-bottom: 8rem;
    }

    .smartphone-rsvp {
        padding: 25px;
    }

    .smartphone-width {
        width: 75%;
    }

    .smartphone-scroll {
        scroll-margin-top: -50px;
    }
}

@media (min-width: 769px) {
    .smartphone-scroll{
        scroll-margin-top: 140px
    }
}
