{% extends "layout.html" %}

{% block main %}
    <section id="section_1" class="d-flex" style="scroll-margin-top: 150px"> 
        <div class="home-container container d-flex flex-column">
            <div class="row h-100">
                <div class="col-lg-6">
                    <div style="position:absolute; bottom:20px; left:20px">
                        <a href="#" class="custom-btn btn mt-4 btn-opacity scroll-to-section" data-target="section_5" style="padding: 10px 20px">Click Here to RSVP</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="section_2" class="section-padding">
        <div class="container">
            <div class="row justify-content-center" style="text-align: center;">

                <!-- Title Section -->
                <div class="col-12">
                    <div class="section-title-wrap mb-5">
                        <h2 class="section-title">Welcome</h2>

                        <div>
                            <span class="section-title-line"></span>
                            <i class="section-title-icon bi-heart"></i>
                            <span class="section-title-line"></span>
                        </div>
                    </div>
                </div>

                <!-- Image and Text Section -->
                <div class="col-lg-6 order-lg-1 order-2">
                    <div class="image-hover-thumb">
                        <img src="static/images/Pic-286.jpg" class="img-fluid">
                    </div>
                </div>

                <div class="col-lg-5 order-lg-2 order-1">
                    <div class="d-flex flex-column smartphone-margins" style="padding: 20px;">
                        <div class="d-flex align-items-center">
                        <p class="my-4">
                            <!-- The Wintergarden
                            <br>
                            <br> -->
                            <span style="font-size: 26px">July 14, 2024</span>
                            <br>
                            <br>
                            We are so excited to celebrate our special day with you! Please find important details below about our wedding, including travel information and submitting your RSVP. Thank you so much for your love and support!
                            <br>
                            <br>
                            With love,
                            <br>
                            Shreya & Aman
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="section_3" class="section-bg section-padding">
        <div class="container">
            <div class="row">
    
                <div class="col-12">
                    <div class="section-title-wrap mb-5">
                        <h2 class="section-title">Wedding Guide</h2>
                        <div>
                            <span class="section-title-line"></span>
                            <i class="section-title-icon bi-calendar"></i>
                            <span class="section-title-line"></span>
                        </div>
                    </div>
                </div>
    
                <!-- Hotel Accommodation Column -->
                <div class="col-lg-4 d-flex flex-column" style="text-align: center;">
                    <!-- <div class="image-hover-thumb">
                        <img src="https://cdn.myportfolio.com/3a91d25356a0a4e8d755418ec7d8e980/26220725-335c-4709-bbad-936f3a0d52e2_rwc_163x0x2990x2338x2990.jpg?h=802aaec90a93abfdfcd093b492276b54" class="img-fluid" style="margin-bottom: -48px">
                    </div> -->
                    <div class="section-block smartphone-margins-guide">
                        <h3 class="my-3">Hotel</h3>
                        
                        <p class="mb-2">
                            Holiday Inn - Downtown Rochester
                        </p>
                        <p class="mb-2">
                            70 State St, Rochester, NY 14614
                        </p>
                        <div style="margin-top: -20px; margin-bottom: 15px;">
                        <a href="https://www.holidayinn.com/redirect?path=hd&brandCode=HI&localeCode=en&regionCode=1&hotelCode=ROCNY&_PMID=99801505&GPC=SGE&cn=no&viewfullsite=true" target="_blank" class="custom-btn btn mt-4 btn-opacity" style="padding: 10px 20px">Book a Room</a>
                        </div>
                        <p class="mb-2">
                            (Pease make sure the Group Rate option is selected. Use Group Code: SGE and IATA #: 99801505)
                        </p>
                    </div>
                    <iframe class="google-map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2115.871015185558!2d-77.61258080093079!3d43.15767691092517!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d6b455c52d195b%3A0xcce6bf9073d40afd!2sHoliday%20Inn%20Rochester%20NY%20-%20Downtown%2C%20an%20IHG%20Hotel!5e0!3m2!1sen!2sus!4v1704662418353!5m2!1sen!2sus" style="height: 278px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
    
                <!-- Transportation Column -->
                <div class="col-lg-4 d-flex flex-column smartphone-transportation" style="text-align: center;">
                    <div class="section-block ">

                        <h3 class="mb-2" style="margin-top: 14px">Transportation</h3>
                        <p class="mb-2" style="margin-top: 20px;">
                            The shuttle service will be available to guests for the wedding and reception. We recommend checking with the hotel front desk on the day of the wedding for the most up-to-date shuttle schedule. Alternatively, the venue is a short 12 minute walk from the hotel.
                        </p>
                    </div>
                    <div class="image-container d-flex justify-content-center align-items-center" style="height: 100%;">
                        <img src="/static/images/tampoo.png" alt="Transportation Image" class="img-fluid" style="max-width: 100%; height: auto; transform: scaleX(-1);" >
                    </div>
                </div>
    
                <!-- Venue Column -->
                <div class="col-lg-4 d-flex flex-column" style="text-align: center; position: relative;">
                    <div class="section-block align-items-center smartphone-margins-guide">
                        <h3 class="my-3">Venue</h3>

                        <p class="mb-2" style="padding-top: 25px">
                            <a href="https://www.wintergardenbymonroes.com/">The Wintergarden by Monroe's</a>
                        </p>
                        <p class="mb-2">
                            1 Bausch and Lomb Pl, Rochester, NY 14604
                        </p>
                        <p class="mb-2 text-center">
                            Public street parking lot will be available 
                        </p>

                    </div>
                    <iframe class="google-map smartphone-guide" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2910.619896404777!2d-77.60837932363856!3d43.154510484541575!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d6b5aa9dc3d697%3A0xaf095b4fbf78cdd2!2sThe%20Wintergarden%20by%20Monroe&#39;s!5e0!3m2!1sen!2sus!4v1692132563515!5m2!1sen!2sus" style="height: 278px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </section>

    <section id="section_4" class="section-bg section-padding" style="padding-top: 0px; scroll-margin-top: 0px">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-12">
                    <div class="section-title-wrap mb-5">
                        <h2 class="section-title">Gallery</h2>
                        <div>
                            <span class="section-title-line"></span>
                            <i class="section-title-icon bi-camera"></i>
                            <span class="section-title-line"></span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="gallery-thumb image-hover-thumb">
                        <a href="static/images/gallery/Pic-124.jpg" class="popup-image">
                            <img src="static/images/gallery/Pic-124.jpg" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 d-flex flex-column">
                    <div class="gallery-thumb gallery-thumb-small image-hover-thumb">
                        <a href="static/images/gallery/Pic-175.jpg" class="popup-image">
                            <img src="static/images/gallery/Pic-175.jpg" class="gallery-image img-fluid">
                        </a>
                    </div>

                    <div class="gallery-thumb gallery-thumb-small image-hover-thumb">
                        <a href="static/images/gallery/Pic-168.jpg" class="popup-image">
                            <img src="static/images/gallery/Pic-168.jpg" class="gallery-image img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="gallery-thumb image-hover-thumb">
                        <a href="static/images/gallery/Pic-178.jpg" class="popup-image">
                            <img src="static/images/gallery/Pic-178.jpg" class="img-fluid">
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </section>
    
    <section id="section_5" class="rsvp-section section-bg section-padding smartphone-scroll">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <div class="rsvp-form-wrap text-center smartphone-rsvp">
                        <div class="section-title-wrap mb-5">
                            <h2 class="section-title" style="color: black; font-size: 42px;"> Rsvp </h2>
                            <div>
                                <span class="section-title-line" style="color: black"></span>
                                <i class="section-title-icon bi-envelope" style="color: black"></i>
                                <span class="section-title-line" style="color: black"></span>
                            </div>
                        </div>
                        <h5 class="col-10 mx-auto" style="margin-top: -1rem">Please enter the first and last name of one member of your party below.<br>If you're responding for you and a guest (or your family), you'll be able to RSVP for your entire group on the next page.</h5>
                        <h6 class="mb-4" style="margin-top: 20px"><span class="text-muted">Kindly Respond By <span style="color: black; font-size: 20px;"><u>May 18, 2024</u></span></h6>
                        <form action="/" method="POST" class="custom-form">
                            <div class="row justify-content-center">
                                <div class="col-lg-4 mb-3" style="display:inline-block">
                                    <input type="text" name="first name" class="form-control" placeholder="First Name" required>
                                </div>
                                <div class="col-lg-4 mb-3" style="display:inline-block">
                                    <input type="text" name="last name" class="form-control" placeholder="Last Name" required>
                                </div>
                                <div class="col-lg-2 mb-3" style="display:inline-block;" >
                                    <button class=" col-lg-12 mx-auto btn custom-btn" type="submit" style="margin-top: 3px;">Next</button>
                            </div>
                        </form>
                        <div id="error-message" class="error-text" style="text-align: center; margin-top: -15px; font-family: Metal;">
                        <script src="/static/js/script.js"></script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="section_6" class="section-bg section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title-wrap mb-5">
                        <h2 class="section-title">Gifts</h2>
                        <div>
                            <span class="section-title-line"></span>
                            <i class="section-title-icon bi-gift"></i>
                            <span class="section-title-line"></span>
                        </div>
                    </div>
                </div>

                <div class="col-6 mx-auto smartphone-width" style="text-align: center;">
                    <p class="mb-5">We are looking forward to celebrating with you on our big day. Having you attend our wedding is the greatest gift of all! No boxed gifts please.

                        
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="section_7" class="section-bg" style="padding-bottom: 5.5rem;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title-wrap mb-5">
                        <h2 class="section-title">Contact Us</h2>
                        <div>
                            <span class="section-title-line"></span>
                            <i class="section-title-icon bi-person"></i>
                            <span class="section-title-line"></span>
                        </div>
                    </div>
                </div>

                <div class="col-6 mx-auto text-center smartphone-width">
                    <p class="mb-5">Please feel free to contact us with any questions or concerns you may have at our email. We are actively checking this account and will reply as soon as we can.</p>
                    <a href="mailto:shreyaandaman2024@gmail.com" style="text-decoration: none;">
                        <p>shreyaandaman2024@gmail.com</p>
                    </a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
