{% extends "layout.html" %}

{% block main %}
    <section id="section_1" class="d-flex" style="scroll-margin-top: 150px"> 
        <div class="home-container container d-flex flex-column">
            <div class="row h-100">
                <div class="col-lg-6">
                    <h3>The Wintergarden</h3>
                    <h3>May 26, 2024</h3>
                    <div style="position:absolute; bottom:20px; left:20px">
                        <a href="#section_5" class="custom-btn btn mt-4 btn-opacity" style="padding: 10px 20px">Click Here to RSVP</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="section_2" class="section-padding">
        <div class="container">
            <div class="row justify-content-center" style="text-align: center;">
                <div class="col-12">
                    <div class="section-title-wrap mb-5">
                        <h2 class="section-title">Welcome</h2>

                        <div>
                            <span class="section-title-line"></span>
                            <i class="section-title-icon bi-heart"></i>
                            <span class="section-title-line"></span>
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="image-hover-thumb">
                        <img src="static/images/Pic-286.jpg" class="img-fluid">
                    </div>
                </div>

                <div class="col-5">
                    <div class="d-flex flex-column" style="padding: 20px">
                        <div class="d-flex align-items-center">
                        <p class="my-4">
                            May 26, 2024
                            <br>
                            <br>
                            The Wintergarden
                            <br>
                            <br>
                            We are so excited to celebrate our special day with you! Please find important details about our wedding, including travel information, RSVP and links to our registry below. Thank you so much for your love and support!
                            <br>
                            <br>
                            With love,
                            <br>
                            Aman & Shreya
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="section_3" class="section-bg section-padding">
        <div class="container">
            <div class="row">

                <div class="col-12">
                    <div class="section-title-wrap mb-5">
                        <h2 class="section-title">The Wedding</h2>
                        <div>
                            <span class="section-title-line"></span>
                            <i class="section-title-icon bi-calendar"></i>
                            <span class="section-title-line"></span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 flex-column">
                    <div class="image-hover-thumb">
                        <img src="https://cdn.myportfolio.com/3a91d25356a0a4e8d755418ec7d8e980/26220725-335c-4709-bbad-936f3a0d52e2_rwc_163x0x2990x2338x2990.jpg?h=802aaec90a93abfdfcd093b492276b54" class="img-fluid" style="margin-bottom: -48px">
                    </div>

                    <div class="section-block">
                        <h3 class="my-3">Wedding</h3>

                        <p class="mb-2">
                            Sunday, May 26, 2024
                        </p>
                        <p>
                            10:00 AM - 12:00 PM
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 flex-column">
                    <div class="image-hover-thumb">
                        <img src="/static/images/decorated-table-setting.jpg" class="img-fluid">
                    </div>

                    <div class="section-block">
                        <h3 class="my-3">Reception</h3>
                        <p class="mb-2">
                            Sunday, May 26, 2024
                        </p>
                        <p>
                            6:00 PM - 11:00 PM
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 d-flex flex-column">
                    <iframe class="google-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2910.619896404777!2d-77.60837932363856!3d43.154510484541575!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d6b5aa9dc3d697%3A0xaf095b4fbf78cdd2!2sThe%20Wintergarden%20by%20Monroe&#39;s!5e0!3m2!1sen!2sus!4v1692132563515!5m2!1sen!2sus" style="height: 278px" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                    <div class="section-block">
                        <h3 class="my-3"> Location</h3>

                        <p class="mb-2">
                            1 Bausch and Lomb Pl, Rochester, NY 14604
                        </p>
                        <p>
                            <u>Please arrive by 9:00 AM</u>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="section_4" class="section-bg section-padding" style="padding-top: 0px; scroll-margin-top: 0px">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-12">
                    <div class="section-title-wrap mb-5">
                        <h2 class="section-title">Gallery</h2>
                        <div>
                            <span class="section-title-line"></span>
                            <i class="section-title-icon bi-camera"></i>
                            <span class="section-title-line"></span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="gallery-thumb image-hover-thumb">
                        <a href="static/images/gallery/Pic-124.jpg" class="popup-image">
                            <img src="static/images/gallery/Pic-124.jpg" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 d-flex flex-column">
                    <div class="gallery-thumb gallery-thumb-small image-hover-thumb">
                        <a href="static/images/gallery/Pic-175.jpg" class="popup-image">
                            <img src="static/images/gallery/Pic-175.jpg" class="gallery-image img-fluid">
                        </a>
                    </div>

                    <div class="gallery-thumb gallery-thumb-small image-hover-thumb">
                        <a href="static/images/gallery/Pic-168.jpg" class="popup-image">
                            <img src="static/images/gallery/Pic-168.jpg" class="gallery-image img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="gallery-thumb image-hover-thumb">
                        <a href="static/images/gallery/Pic-178.jpg" class="popup-image">
                            <img src="static/images/gallery/Pic-178.jpg" class="img-fluid">
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </section>
    
    <section id="section_5" class="rsvp-section section-bg section-padding" style="scroll-margin-top: 140px">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <div class="rsvp-form-wrap">
                        <div class="section-title-wrap mb-5">
                            <h2 class="section-title"> Rsvp </h2>
                            <div>
                                <span class="section-title-line"></span>
                                <i class="section-title-icon bi-envelope"></i>
                                <span class="section-title-line"></span>
                            </div>
                        </div>

                        <h5 class="col-10 mx-auto" style="text-align: center; margin-top: -2rem">Please enter the first and last name of one member of your party below.<br>If you're responding for you and a guest (or your family), you'll be able to RSVP for your entire group on the next page.</h5>
                        <h6 class="mb-4" style="text-align: center; margin-top: 20px"><span class="text-muted">Kindly Respond By <u>Oct 30, 2023</u></span></h6>
			<h6 class="mb-4" style="text-aligh: center; margin-top: 5px"><span class="text-muted">Use Test as first and last name to check website functionality</span></h6>

                        <form action="/" method="POST" class="custom-form">
                            <div class="row" style="text-align:center">
                                <div class="col-lg-4" style="display:inline-block">
                                    <input type="text" name="first name" class="form-control" placeholder="First Name" required>
                                </div>
                                <div class="col-lg-4" style="display:inline-block">
                                    <input type="text" name="last name" class="form-control" placeholder="Last Name" required>
                                </div>
                                <div class="col-lg-2" style="display:inline-block;" >
                                    <button class=" col-lg-12 mx-auto btn custom-btn" type="submit" style="margin-top: 3px;">Next</button>
                            </div>
                        </form>

                        <!-- Can later add an alert here to inform user of rsvp error in block - callenge: try to use JavaScript and backend request without reloading page -->

                        
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="section_6" class="section-bg section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title-wrap mb-5">
                        <h2 class="section-title">Gifts</h2>
                        <div>
                            <span class="section-title-line"></span>
                            <i class="section-title-icon bi-gift"></i>
                            <span class="section-title-line"></span>
                        </div>
                    </div>
                </div>

                <div class="col-6 mx-auto" style="text-align: center;">
                    <p class="mb-5">We are looking forward to celebrating with you on our big day. Having you attend our wedding is the greatest gift of all. However, if you are looking for a wedding registry, we've set up a Venmo account below for your convenience! No boxed gifts please.</p>
                    <div class="col-lg-3 mx-auto">
                        <div class="gallery-thumb image-hover-thumb">
                            <img src="static/images/venmo_qr.png" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="section_7" class="section-bg section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title-wrap mb-5">
                        <h2 class="section-title">Contact Us</h2>
                        <div>
                            <span class="section-title-line"></span>
                            <i class="section-title-icon bi-person"></i>
                            <span class="section-title-line"></span>
                        </div>
                    </div>
                </div>

                <div class="col-6 mx-auto" style="text-align: center;">
                    <p class="mb-5">Please feel free to contact us with any questions or concerns you may have at our email. We are actively checking this account and will reply as soon as we can.</p>
                    <a href="mailto:shreyaandaman2024@gmail.com" style="text-decoration: none;">
                        <p>shreyaandaman2024@gmail.com</p>
                    </a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
