<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Shreya & Aman's Wedding Website</title>
</head>


<body>
    <div class="landing-page">
        <div>
            <!-- <img  alt="Background Image"> -->
            <div class="password-form">
                <h3>Enter the password to access the website</h3>
                <input type="password" id="password" name="password" placeholder="Password">
                <button onclick=checkPassword()>Submit</button>
                <div id="error-container"></div>
            </div>
        </div>
    </div>

    <script>
        function checkPassword() {
            var password = document.getElementById('password').value;
    
            fetch('/landing', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: new URLSearchParams({ 'password': password }),
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    // Password is correct
                    window.location.replace("/");  // Redirect to the main page
                } else {
                    // Display the error message
                    displayError(data.message);
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    
        function displayError(message) {
            var errorContainer = document.getElementById('error-container');
            errorContainer.innerHTML = '<p class="error-text">' + message + '</p>';
        }
    </script>
</body>
</html>
