<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Shreya & Aman's Wedding Website</title>
</head>
<body>
    <div class="landing-page">
        <div class="center">
            <img src="/static/images/Pic-22.jpg" alt="Background Image">
            <div class="password-form">
                <h3>Enter the password to access the website</h3>
                <form method="post" action="/landing">
                    <input type="password" name="password" placeholder="Password">
                    <button type="submit">Submit</button>
                </form>
                {% if error %}
                    <p class="error-text">{{ error }}</p>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>
