<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Shreya & Aman's Wedding Website</title>
        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="/static/css/magnific-popup.css">
        <link rel="stylesheet" href="/static/styles.css">

        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/jquery.sticky.js"></script>
        <script src="/static/js/jquery.magnific-popup.min.js"></script>
        <script src="/static/js/magnific-popup-options.js"></script>
    </head>

    <body>
        <!-- Display a static name if viewed on smartphone -->
        <div class="static-text-smartphone">
            <a href="/" class="title navbar-brand mx-auto" style="color: #bd8677">
                <span>Shreya & Aman</span>
            </a>
        </div>

        <nav class="navbar navbar-expand-lg">
            <div class="container">

                <a href="/" class="title navbar-brand mx-auto mx-lg-0" style="color: #bd8677">
                    <span>Shreya & Aman</span>
                </a>

                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav item">
                            <a href="#" class="nav-link scroll-to-section" data-target="section_1">Home</a>
                        </li>
                        <li class="nav item">
                            <a href="#" class="nav-link scroll-to-section" data-target="section_2">Welcome</a>
                        </li>
                        <li class="nav item">
                            <a href="#" class="nav-link scroll-to-section" data-target="section_3">Wedding Guide</a>
                        </li>
                        <li class="nav item">
                            <a href="#" class="nav-link scroll-to-section" data-target="section_4">Gallery</a>
                        </li>
                        <li class="nav item">
                            <a href="#" class="nav-link scroll-to-section" data-target="section_5">RSVP</a>
                        </li>
                        <li class="nav item">
                            <a href="#" class="nav-link scroll-to-section" data-target="section_6">Gifts</a>
                        </li>
                        <li class="nav item">
                            <a href="#" class="nav-link scroll-to-section" data-target="section_7">Contact Us</a>
                        </li>
                        {% if session["admin"] %} 
                            <li class="nav item">
                                <a href="/guestlist" class="nav-link">Guest List</a>
                            </li>
                            <li class="nav item">
                                <a href="/todo" class="nav-link">To Do</a>
                            </li>
                            <li class="nav item">
                                <a href="/logout" class="nav-link">Log Out</a>
                            </li>
                        {% else %}
                            <!-- <li class="nav item">
                                <a href="/login" class="nav-link">Log In</a>
                            </li> -->
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <header>
                        <div class="alert alert-{{ category }} alert-dismissible fade show col-4 mx-auto" role="alert" style="text-align: center">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    </header>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <main>
            {% block main %}{% endblock %}
        </main>

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                // Select all links with the class 'scroll-to-section'
                var links = document.querySelectorAll('.scroll-to-section');
            
                // Handle link clicks
                links.forEach(function (link) {
                    link.addEventListener('click', function (e) {
                        e.preventDefault();
            
                        // Get the target section ID from the data attribute
                        var targetId = link.getAttribute('data-target');
            
                        // Scroll smoothly to the target section
                        document.getElementById(targetId).scrollIntoView({
                            behavior: 'smooth'
                        });
                    });
                });
            });
        </script>

    </body>
</html>